body {
    overflow-y:auto; 
}

.menu {
    position: absolute;
    margin-left: 15%;
    margin-top: 50px;
    width: 150px;
    border: 1px solid gray;
    border-radius: 6px;
}

.menu a:first-child {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.menu a:last-child {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.menu a:hover {
    background-color: #4CAF50;
    color: white;
}

.menu a.active {
    background-color: #333;
    color: white;
}

.container {
    position: absolute;
    margin-left: 30%;
    margin-top: 50px;
    width: 600px;
    height: 200px;
    border: 1px solid red;
    border-radius: 6px;
}