body {
    overflow-y:scroll;
}

.wrapper {
    width: 900px;
    height: auto;

    position: absolute;
    left: 50%;
    margin-left: -400px;

    background-color: red;
}

.menu {
    position: absolute;
    margin-left: 5px;
    margin-top: 10px;
    width: 150px;
    border: 1px solid gray;
    border-radius: 5px;
}

.menu a:first-child {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.menu a:last-child {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.menu a:hover {
    background-color: #4CAF50;
    color: white;
}

.menu a.active {
    background-color: #333;
    color: white;
}

.menu a.active:hover{
    background-color: #4CAF50;
    color: white;
}

.container {
    position: relative;
    margin-left: 180px;
    margin-top: 10px;
    width: auto;
    height: auto;
    border: 1px solid red;
    border-radius: 5px;
    text-align: center;
    background-color: blue;
    padding: 5px;
}

.headArea {
    position: relative;
    width: auto;
    height: auto;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 5px;
    background-color: cornflowerblue;
}

.topNews {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 200px;
    background-color: tomato;
}

.wordsCloud {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    background-color: cornsilk;
}

.newsArea {
    position: relative;
    width: auto;
    height: auto;
    border: 1px solid blue;
    border-radius: 5px;
    background-color: darkgoldenrod;
    padding: 10px;
    padding-top: 0;
}
.newsArea h2{
    margin: 0;
    margin-top: 5px;
}
.newsBlocks {
    display: flex;
    position: relative;
    width: auto;
    height: auto;
    background-color: forestgreen;
    padding: 5px;
    line-height: auto;
    padding-top: 0;
}

.newsBlock {
    flex: 1;
    position: relative;
    width: 130px;
    height: auto;
    background-color: #eee;
    margin: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; color : #000;
}
.newsBlock h1 {
    text-align: center;
    font-size: small;
}
.newsBlock p {
    height: auto;
    text-align: center;
    font-size: small;
    color: #333;
}
.newsBlock img {
    object-fit: cover;
    
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.searchArea {
    position: relative;
    width: auto;
    height: auto;
    border: 1px solid blue;
    border-radius: 5px;
    background-color: #eee;
    padding: 10px;
}

.required-field:after {
    content: " *";
    font-weight: bold;
    color: red;
    padding-right: 10px;
}

.resultArea {
    position: relative;
    width: auto;
    height: auto;
    border: 1px solid green;
    border-radius: 5px;
    margin: 0 auto;
    background-color: white;
}

.block {
    position: relative;
    width: 550px;
    height: auto;
    border-radius:10px;
    border: 1px solid #ccc;
    background-color: #eee;
    margin: 10px auto;
    cursor: pointer;
}

.block:hover {
    box-shadow: 0 0 15px rgba(33,33,33,.2); 
}


