.wrapper {
    width: 800px;
    height: auto;

    position: absolute;
    left: 50%;
    margin-left: -400px;

    background-color: red;
}

.menu {
    position: absolute;
    margin-left: 5px;
    margin-top: 10px;
    width: 150px;
    border: 1px solid gray;
    border-radius: 6px;
}

.menu a:first-child {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.menu a:last-child {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.menu a:hover {
    background-color: #4CAF50;
    color: white;
}

.menu a.active {
    background-color: #333;
    color: white;
}

.menu a.active:hover{
    background-color: #4CAF50;
    color: white;
}

.container {
    position: relative;
    margin-left: 180px;
    margin-top: 10px;
    width: auto;
    height: auto;
    border: 1px solid red;
    border-radius: 6px;
    text-align: center;
    background-color: blue;
    padding: 5px;
}

.searchArea {
    position: relative;
    width: auto;
    height: auto;
    border: 1px solid blue;
    border-radius: 6px;
    background-color: #eee;
    padding: 10px;
}

.required-field:after {
    content: " *";
    font-weight: bold;
    color: red;
    padding-right: 10px;
}

.resultArea {
    position: relative;
    width: auto;
    height: auto;
    border: 1px solid green;
    border-radius: 6px;
    margin: 0 auto;
    background-color: white;
}

.block {
    position: relative;
    width: 550px;
    height: auto;
    border-radius:10px;
    border: 1px solid #ccc;
    background-color: #eee;
    margin: 10px auto;
    cursor: default;
}

.block:hover {
    box-shadow: 0 0 15px rgba(33,33,33,.2); 
}