<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
      <link rel="stylesheet" type="text/css" href="/static/style.css"/>
      <script type = "text/javascript" src = "{{ url_for('static', filename = 'main.js') }}"></script>
    </head>
    
    <body>
        <div class="wrapper">
            <div class="menu">
                <a id="topNews" href="#" class="active" onclick = "topNews()">Google News</a>
                <a id="searchNews" href="#" onclick = "searchNews()">Search</a>
            </div>

            <div class="container">
                <div class="headArea">
                    <div class="topNews">

                    </div>
                    <div class="wordsCloud">
                        
                    </div>
                </div>
                <div class="newsArea">
                    <h1>CNN</h1>
                    <hr>
                    <div class="newsBlocks">
                        <div class="newsBlock">
                            <p>sss</p>
                        </div>
                        <div class="newsBlock">
                            <p>sss</p>
                        </div>
                        <div class="newsBlock">
                            <p>sss</p>
                        </div>
                        <div class="newsBlock">
                            <p>sss</p>
                        </div>
                    </div>
                </div>
                <div class="newsArea">
                    <h1>Fox News</h1>
                    <hr>
                    <div class="newsBlocks">
                        <div class="newsBlock">
                            <p>sss</p>
                        </div>
                        <div class="newsBlock">
                            <p>sss</p>
                        </div>
                        <div class="newsBlock">
                            <p>sss</p>
                        </div>
                        <div class="newsBlock">
                            <p>sss</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
