<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
      <link rel="stylesheet" type="text/css" href="/static/style.css"/>
      <script src = "{{ url_for('static', filename = 'd3.v4.js') }}"></script>
      <script src = "{{ url_for('static', filename = 'd3.layout.cloud.js') }}"></script>
      <script type = "text/javascript" src = "{{ url_for('static', filename = 'main.js') }}"></script>
      <script type="text/javascript">
          updateResult({{ headlines|tojson }});
      </script>
    </head>
    
    <body onload="switchFrame('searchFrame')">
        <div class="wrapper">
            <div class="menu">
                <a id="topNewsPage" href="#" class="active" onclick = "switchFrame('newsFrame')">Google News</a>
                <a id="searchNewsPage" href="#" onclick = "switchFrame('searchFrame')">Search</a>
            </div>

            <div id="main_place" class="container"> 
            </div>

            <div id="newsFrame" style="display:none">
                <div class="headNewsArea">
                    <div class="slideNewsBlock">
                        <a id="slideNewsUrl" href="" target="-blank">
                            <img id="slideNewsImg" src="">
                            <div class="slideNewsBlockText">
                                <h4 id="slideNewsTitle" ></h4>
                                <p id="slideNewsDescription" ></p>
                            </div>
                        </a>
                    </div>

                    <div id="wordsCloud" class="wordsCloud">
                    </div>
                </div>

                <div class="newsArea">
                    <h2>CNN</h2>
                    <hr style="border: 1px dashed black;" />
                    <div class="newsBlocks">
                        <a href="#" id="cnnNews1_url" target="_blank" class="newsBlock">
                            <div id="cnnNews1"></div>
                        </a>
                        <a href="#" id="cnnNews2_url" target="_blank" class="newsBlock">
                            <div id="cnnNews2"></div>
                        </a>
                        <a href="#" id="cnnNews3_url" target="_blank" class="newsBlock">
                            <div id="cnnNews3"></div>
                        </a>
                        <a href="#" id="cnnNews4_url" target="_blank" class="newsBlock">
                            <div id="cnnNews4"></div>
                        </a>
                    </div>
                </div>

                <div class="newsArea">
                    <h2>Fox News</h2>
                    <hr style="border: 1px dashed black;" />
                    <div class="newsBlocks">
                        <a href="#" id="foxNewsNews1_url" target="_blank" class="newsBlock">
                            <div id="foxNewsNews1"></div>
                        </a>
                        <a href="#" id="foxNewsNews2_url" target="_blank" class="newsBlock">
                            <div id="foxNewsNews2"></div>
                        </a>
                        <a href="#" id="foxNewsNews3_url" target="_blank" class="newsBlock">
                            <div id="foxNewsNews3"></div>
                        </a>
                        <a href="#" id="foxNewsNews4_url" target="_blank" class="newsBlock">
                            <div id="foxNewsNews4"></div>
                        </a>
                    </div>
                </div>
            </div>

            <div id="searchFrame" style="display:none">
                <div class="searchArea">
                    <br>
                    <!--<form id="searchForm" action="/search">-->
                    <form id="searchForm" action="javascript:searchNews()">
                        <div>
                            <label class="required-field">Keyword</label>
                            <input type="text" id="keyword" name="keyword" required>
                            <label class="required-field">From</label>
                            <input type="date" id="from" name="from" required>
                            <span></span>
                            <label class="required-field">To</label>
                            <input type="date" id="to" name="to" required>
                        </div>
                        <br>
                        <div>
                            <label>Category</label>
                            <select id="categories" onchange="getSource()">
                              <option value="all">all</option>
                              <option value="business">business</option>
                              <option value="entertainment">entertainment</option>
                              <option value="general">general</option>
                              <option value="health">health</option>
                              <option value="science">science</option>
                              <option value="sports">sports</option>
                              <option value="technology">technology</option>
                            </select>
                
                            <label>Source</label>
                            <select id="source">
                              <option value="all">all</option>
                            </select>
                        </div>
                        <br>
                        <div>
                            <button type="submit" value="Search">Search</button>
                            <button type="button" value="Reset form" onclick="clearFormNews()">Clear</button>
                        </div>
                    </form>
                    <br>
                  </div>

                  <div id="searchNewsResultArea" class="searchNewsResultArea">
                  </div>

                  <button id="showMoreLessButton" onclick="showMoreNews()" style="display: none;">Show More</button>
            </div>
        </div>
    </body>
</html>
