<!DOCTYPE html>
<html>
    <head>
        <style>
            .headNewsArea {
    background-color: red;
    padding: 5px;
}
.slideNewsBlock {
    background-color: green;
    display: inline-block;
    width: 500px;
    height: 700px;
}
.slideNewsBlock img {
    width: 400px;
    vertical-align:bottom;
}
.headNewsArea .slideNewsBlockText {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);;
}
        </style>
    </head>
    <body>
        <div class="headNewsArea">
            <img id="slideNewsImg" src="https://cdn.cnn.com/cnnnext/dam/assets/200213163906-01-barr-lead-image-super-tease.jpg">
            <div class="slideNewsBlockText">
                <h3 id="slideNewsTitle" >11</h3>
                <p id="slideNewsDescription" >11</p>
            </div>

            <!--
            <div class="wordsCloud">
                <p>d</p>
            </div>
            --> 
        </div>
    </body>
</html>