<!DOCTYPE html>
<html>

<head>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    .slideNewsBlock {
        position: relative;
        text-align: center;
        color: white;
        height: auto;
        width: 600px;
        margin: auto;
    }
    .slideNewsBlockText {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.3);;
    }
</style>
</head>

<body>

<h2 class="w3-center">Automatic Slideshow</h2>

<div class="slideNewsBlock">
    <a id="slideNewsUrl" href="" target="_blank"> 
        <img id="slideNewsImg" src="" style="width:100%">
        <div class="slideNewsBlockText">
            <h3 id="slideNewsTitle" ></h3>
            <p id="slideNewsDescription" ></p>
        </div>
    </a>
</div>
<script>

var slideTopNewsIndex = 0;
showSlideTopNews();

function showSlideTopNews() {

    if (slideTopNewsIndex == 5) {slideTopNewsIndex = 0;}

    document.getElementById("slideNewsUrl").setAttribute('href', 'https://www.baidu.com')
    document.getElementById("slideNewsImg").src = slideTopNewsIndex+".jpg";
    document.getElementById("slideNewsTitle").innerHTML = slideTopNewsIndex;
    document.getElementById("slideNewsDescription").innerHTML = slideTopNewsIndex;
    
    
    setTimeout(showSlideTopNews, 2000); // Change image every 2 seconds
    slideTopNewsIndex++;
}
</script>

</body>
</html>
